body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}
.loading {
    filter: alpha(opacity = 50);
    opacity: 0.5;
    background: #b7b7b7 url(../img/loader.gif) no-repeat center center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
}
a, a:hover, a:focus {
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;   
    font-family: 'Titillium Web',Arial,sans-serif;
    font-weight: 300; 
}
h1 {
    font-size: 18px;
}
h4 {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;  
}
ul, li {
    margin: 0;
    list-style-type: none;
    line-height: 18px;
}
.homeDash {
    text-align: center;
    padding: 200px 0;
    background: #ffffff;
    font-size: 20px;
}
.btn {
    font-size: 13px;
    line-height: 17px;
    padding: 3px 8px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}
.btnBlue,
a.btnBlue:visited {
    background: #005bf0;
    color: #fff;
    border: 1px solid #005bf0;
}
.btnBlue:hover,
a.btnBlue:visited:hover {
	background: #3079f0;
	color: #fff;
	text-decoration: none;
}
.btnBorder,
a.btnBorder:visited  {
    border: 1px solid #005bf0;
    color: #005bf0;
}
.btnBorder:hover {
    background: #f9f9f9;
    color: #005bf0;
}
.ipadShow,
.logoMobile {
    display: none;
}

/* Header */
.headerWrap {
    margin-bottom: 25px;
}
.headerMain {
    padding: 25px 0;
}
.logo {
    float: left;
    margin-top: 17px;
}
.logo a {
    display: block;
    width: 180px;
}
.logoMobile {
    display: none
}
.logoPrint {
    display: none;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
}
.headerAds {
    float: right;
    width: 728px;
    height: 90px;    
    text-align: center;
    color: #4e4e4e;
    background: #f1f1f1;
}

/*icons*/
[class^="icon-"],
[class*=" icon-"] {
    background-image: url("../img/sprite.png");
}

[class^="icons-"],
[class*=" icons-"] {
    background-image: url("../img/icon-sprite.png");
    display: inline-block;
}



/*** top navigation **/
.topWrap {
    border-bottom: 1px solid #eeeeee;
    height: 34px;
    padding-right: 5px;
    font-size: 12px;
}
.topNav {
    float: left;
}
.topWrap li {    
    line-height: 34px;
    float: left;
    font-size: 14px;
}
.topWrap a {
    color: #000;
    padding: 0 9px;
    display: block;
}
.topWrap a:hover {
    color: #ec1c24;
}
.topWrap .topNavActive a {
    color: #ec1c24;
}
.socialMedia {
    margin-top: 4px;
    float: right;
}
.socialMedia li {
    float: left;
}
.socialMedia li a {
    position: relative;
    display: block;
    padding: 0;
    width: 25px;
    height: 25px;
    text-indent: -10000px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.socialMedia li a.twitter:before {
    content: "";
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -39px -876px;
    display: block;
    width: 19px;
    height: 18px;
    position: absolute;
    left: 3px;
    top: 4px;
}
.socialMedia li a.facebook:before {
    content: "";
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -44px -903px;
    display: block;
    width: 8px;
    height: 16px;
    position: absolute;
    left: 9px;
    top: 5px;
}
.socialMedia li a.twitter {
    background: #00aced;
}
.socialMedia li a.facebook {
    background: #3b5998;
    margin-left: 5px;
}
.toploginNav {
    float: right;
    margin-right: 5px;
}
.userNav {
     position: relative;
     top: 0;
     right: 0;
     float: right;
     margin-right: 10px;
 }
 .userNav .userName {
     position: relative;
     z-index: 112;
     display: block;
     margin-top: -3px;
     padding: 8px 15px 0 15px;
     cursor: pointer;
 }
 .userNav .userName .icon-arrow {
 	background-image: url('../img/iconSprite.png');
     background-repeat: no-repeat;
     background-position: 0 -18px;
     width: 12px;
     height: 14px;
     margin: 10px 0 0 5px;
     float: right;
 }
 .userNav .userName span {
     font-size: 13px;
     line-height: 24px;
     float: left;
     color: #000;
 }
 .userNav ul {
     position: absolute;
     z-index: 111;
     top: 33px;
     right: 0;
     display: none;
     width: 175px;
     padding: 3px 15px;
     list-style-type: none;
     border: 1px solid #e5e5e5;
     border-top: 1px solid #fff;
     background: #fff;
 }
 .userNav.userNavActive ul {
     display: block;
 }
 .userNav ul li {
     float: none;
     border-top: 1px solid #e5e5e5;
 }
 .userNav ul li:first-child {
     border-top: none;
 }
 .userNav ul li a {
     padding: 2px 0 2px 0;
     display: block;
     color: #000;
     font-size: 13px;
     line-height: 30px;
 }
/*** end of  top navigation **/

/*** header ***/
.headerWrap {
    margin-bottom: 25px;
}
header {
    padding: 25px 0;
}
.logo {
    float: left;
    margin-top: 17px;
}
nav {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 55px;
    text-transform: uppercase;
    border-left: 0;
    background: #404041;
}
.searchWrap {
    position: relative;
    float: right;
    width: 38px;
}
.searchWrap .icon-search {
    position: absolute;
    z-index: 103;
    top: 0;
    right: 0;
    width: 38px;
    height: 54px;
    cursor: pointer;
    border: 0;
    border-left: 1px solid #262626;
    background: none;
}
.searchWrap .icon-search:before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url('../img/iconSprite.png');
    background-repeat: no-repeat;
    background-position: 0px -284px;
    display: block;
    margin: 19px 0 0 10px;
}
.searchWrap .searchBox {
    position: absolute;
    z-index: 102;
    top: 55px;
    right: 0px;
    height: 0;
    overflow: hidden;
    width: 330px;   
    background: #585858;
}
.searchWrap .searchBox input {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 40px;
    width: 235px;
    height: 40px;
    padding: 0 10px;
    color: white;
    border: 0;
    border: none !important;
    outline: none;
    background: transparent;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    margin-bottom: 0;
}
.searchWrap .searchBox input.btnSubmit {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    width: 60px;
    padding: 0 10px;
    color: white;
    border: 0;
    background: transparent;
}
.searchWrap.searchOpen .icon-search {
    background: #585858;
}
.searchWrap.searchOpen .searchBox input.btnSubmit {
    background-image: none;
}

.menuNav {
    float: left;
}
.menuNav li {
    position: relative;
    float: left;
}
.menuNav > li {
    border-left: 1px solid #292929;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.menuNav .drfNav {
    margin: -1px 0 -1px -1px;
    border: 1px solid #890000;
    background: #ec1c24;
    display: none;
}
.menuNav > li:nth-child(2) {
    border-left: 0;
}
.menuNav li a {
    display: block;
    line-height: 55px;
    padding: 0 5px;
    padding: 0 4.5px\9;
    color: white;
}
.menuNav li a.subMenuArrow {
    padding-right: 19px;
}
.menuNav li:hover, .menuNav li.active {
    background: #ec1c24;
}
.subMenu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: absolute;
    z-index: 9999;
    top: 55px;
    display: none;
    width: 198px;
    text-transform: none;
    border: 1px solid #d2d2d2;
    border-top: 0;
    background: #fff;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}
.subMenu.subMenuActive {
    display: block;
}
.subMenuArrow::after {
    background: url(../img/iconSprite.png) -68px -436px no-repeat;
    content: '';
    display: block;
    width: 15px;
    height: 8px;
    position: absolute;
    right: 2px;
    top: 24px;
}
.subMenu .colMenu {
    float: left;
    width: 160px;
    padding: 8px 0;
    border-left: 1px solid #ccc;
}
.subMenu .colMenu:first-child {
    border-left: 0;
}
.subMenu li {
    float: none;
}
.subMenu li:hover {
    background: transparent;
}
.subMenu li a {
    padding: 0 15px;
    color: #000;
    line-height: 18px;
    margin-bottom: 16px;
    text-decoration: underline;
}
.subMenu li a:hover {
    color: #ec1c24;
}
.subMenu li h2 {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding: 20px 10px 10px;
    text-transform: uppercase;
    color: #666;
}
.subMenu li h2 a {
    padding: 0;
}
.subMenu .colMenu ul:first-child h2 {
    padding-top: 10px;
}
/******** end of menu ***/

/******* content ****/
.contentWrap {
    position: relative;
    margin-bottom: 50px;
    border: solid 1px #eeeeee;
    background: white;   
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px #d9e0e8;
    -moz-box-shadow: 0 1px 2px #d9e0e8;
    box-shadow: 0 1px 2px #d9e0e8;
} 

.rightColumn {
    width: 321px;   
    margin-left: -1px;
    border-left: solid 1px #eeeeee; 
    float: right;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    -ms-border-radius: 0 0 5px 0;
    -o-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}
.adsWrap {
    padding: 10px;
    border-bottom: 1px solid #eeeeee
}
.pageData {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    border-right: solid 1px #eeeeee;
    width: 616px;
    float: left;   
    min-height: 500px;
}

/*** stake result ***/
.stakeResultWrap .topHead{
    padding: 10px 20px;
}
.stakeResultWrap .topHead h3 {
    font-family: 'Titillium Web',Arial,sans-serif;
    font-weight: 600;
    color: #ec1c24;
    font-size: 24px;
}
.filterWrapper  {
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    padding: 20px;
    background: #f3f3f3;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.filterWrapper .label {
    float: left;
    line-height: 30px;
}
.filterWrapper .filterOption span {
    color: #333333;
    border-radius: 4px;
    padding: 5px 15px;
    display: inline-block;  
    border: 1px solid #dcdcdc;
    float: left;
    margin-left: 14px;
    background: #fff;
    cursor: pointer;
    transition: all 0.5s ease ;
}
.filterWrapper .filterOption span.active,
.filterWrapper .filterOption span:hover {
    background: #005bf0;
    color: #fff;
    border-color: #005bf0;
}
.stakeResultList li > h3 {
    background: #f0f7fe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #666666;
    border: 1px solid #bddeff;
    padding: 7px 20px;
    position: relative;
    margin: -1px -1px 0 -1px;
    cursor: pointer;
}
.stakeResultList .icons-accordian,
 .icons-accordian {
    background-position: 0 -10px;
    width: 15px;
    height: 10px;
    margin-top: 5px;
}
.stakeResultList h3.active .icons-accordian {
    background-position: 0 0;
}
.stakeResultList .resultRaceDesc {    
    padding: 16px 0 0 50px;
    border-bottom: 1px solid #dddddd;
}
.stakeResultList li .resultData{
    display: none;
}

.stakeResultList li.active .resultData
{
    display: block;
}
.resultRaceTopDesc {
    padding-bottom: 10px;
    padding-right: 20px;
}
.resultRaceTopDesc .resultHead h4 {
  color: #010101; 
  margin-top: 0;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Titillium Web',Arial,sans-serif;
  text-decoration: underline;
  font-weight: 400;
  display: inline-block; 
  float: left;
  margin-right: 5px;
}
.resultRaceTopDesc .resultHead span {
    font-size: 14px;    
    color: #666666;
}
.resultHead .raceTrack  {
	line-height: 22px;
}
.resultHead .raceTrackDesc > span {
	margin-right: 3px;
}
.textGreen,
.resultRaceTopDesc .resultHead span.textGreen {
    color: #66aa33;
}
.resultRaceTopDesc .resultHead {
    margin-bottom: 8px;   
}
.raceDtlDesc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #888888;
}
.raceDtlDesc > div {
    margin-top: 8px
}
.raceDtlDesc .raceDtlMiles {
    margin-right: 270px;
}
.raceDtlDesc > div:first-child{
    margin-top: 0;
}
.raceDtlDesc b {
    color: #000000;
    font-weight: normal;
}
.raceDtlDesc .winnerText {
    width: 295px;
    font-size: 12px;
}
.raceDtlDesc .winnerText span{
    margin-right: 5px;
    display: inline-block;
}
.readMoreInfo {
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    padding: 13px 20px 13px 0;
    border-top: 1px solid #dddddd;
}
.readMoreInfo p {
    margin-bottom: 0;
}
.readMoreInfo a {
    color: #000;   
    position: relative;
    text-decoration: underline;
}
.readMoreInfo a:hover {
    opacity: 0.8;
}

.raceDtlDesc .btnBorder{
    margin-right: 15px;
}
.icons-watch {
    width: 20px;
    height: 18px;
    background-position: 0 -21px;
    vertical-align: middle;
    margin-right: 5px;
}
.btnViewDetails,
.resultRaceTopDesc .resultHead span.btnViewDetails {
    display: inline-block;
    position: relative;
    padding-right: 12px;
    color: #005bf0;
    cursor: pointer;
    font-size: 15px;
}
.resultRaceTopDesc .btnBlue {
    text-transform: uppercase;
    font-weight: bold;
}
.btnViewDetails:hover,
.resultRaceTopDesc .resultHead span.btnViewDetails:hover{
    color: #000;
}
.btnViewDetails:before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 0; 
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #005bf0;
}
.btnViewDetails.active:before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #005bf0;
}
.btnViewDetails:hover:before  {
    border-top-color: #000;
}
.btnViewDetails.open:before {
    border-top: 0;
    border-bottom: 4px solid #005bf0;
}
.dataTable {
    border-collapse: collapse;
    margin: 0;
    list-style-type: none;
    display: table;
    width: 100%;
}
.dataTable .headRow ,
.dataTable .dataRow{
    display: table-row;
}
.dataTable .sCell {
    display: table-cell;
    vertical-align: middle;
}
.dataTable .headRow .sCell {
    vertical-align: top;
    font-size: 13px;
    line-height: 17px;
}
.resultDetlChart {
    border-top: 1px solid #ddd;
    display: none;
}
.resultDetlChart .sCell {    
    color: #666;
    padding: 6px 5px 12px 5px;
    border-bottom: 1px solid #eee; 
}
.resultDetlChart .sCell {
    font-size: 14px;
    line-height: 18px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
	-webkit-hyphens: auto;
  	-moz-hyphens: auto;
    hyphens: auto;
}
.resultDetlChart .headRow .sCell {
	padding: 13px 5px;
}
.resultDetlChart .dataRow .sCellHorse,
.resultDetlChart .dataRow .sCellTrainer,
.resultDetlChart .sCellJockey span {
    color: #333333;
}
.resultDetlChart  .sCellSrNo {
    width: 25px;
    text-align: center;
}

.timeInHund {
    padding-right: 5px;
}
/** saddle color **/
.oddsNo {
    width: 22px;
    height: 22px;
    font-size: 14px;
    margin-top: -1px;
    line-height: 22px;
    color: #000;
    text-align: center;
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    display: inline-block;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.resultDetlChart .saddle1,
.saddle1 {
    background: #ec2c28;
    color: #ffffff;
}
.resultDetlChart .saddle2,
.saddle2 {
    background: #ffffff;
    border-color: #babbbe;
}
.resultDetlChart .saddle3,
.saddle3 {
    background: #1d4fa3;
    color: #ffffff;
}
.resultDetlChart .saddle4,
.saddle4 {
    background: #eaeb24;
}
.resultDetlChart .saddle5,
.saddle5 {
    background: #458544;
    color: #ffffff;
}
.resultDetlChart .saddle6,
.saddle6 {
    background: #060103;
    color: #ffffff;
}
.resultDetlChart .saddle7,
.saddle7 {
    background: #efa428;
}
.resultDetlChart .saddle8,
.saddle8 {
    background: #f9bcc5;
}
.resultDetlChart .saddle9,
.saddle9 {
    background: #1fb8d7;
}
.resultDetlChart .saddle10,
.saddle10 {
    background: #9a468f;
    color: #ffffff;
}
.resultDetlChart .saddle11,
.saddle11 {
    background: #c2c2c2;   
}
.resultDetlChart .saddle12,
.saddle12 {
    background: #a9d5b5;   
}
.resultDetlChart .saddle13,
.saddle13 {
    background: #644538;
    color: #ffffff;  
}
.resultDetlChart .saddle14,
.saddle14 {
    background: #671033;
    color: #ffffff; 
}
.resultDetlChart .saddle15,
.saddle15 {
    background: #c9c2b7;
}
.resultDetlChart .saddle16,
.saddle16 {
    background: #8688c4;
}
.resultDetlChart .saddle17,
.saddle17 {
    background: #1c3975;
    color: #ffffff;
}
.resultDetlChart .saddle18,
.saddle18 {
    background: #103b1b;
    color: #ffffff;
}
.resultDetlChart .saddle19,
.saddle19 {
    background: #0a73a8;
}
.resultDetlChart .saddle20,
.saddle20 {
    background: #df0a79;
    color: #ffffff;
}
/** end of saddle color **/
.resultRaceDesc .extraDetl {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    padding-top: 20px;
   /*  border-bottom: 1px solid #dddddd; */
}
.extraDetl .infoLabel {   
    color: #000000;
}
.extraDetl > div {
    margin-bottom: 20px;
}
.extraDetl .time {
    margin-bottom: 30px;
}
.extraDetl .winnerInfo {
    margin-bottom: 26px;
}
.extraDetl .winnerInfo a {
    text-decoration: underline;
}
.winnerInfo > div {
    display: inline;
    padding-right: 5px;
}
.winnerInfo div:nth-child(2),
.winnerInfo div:first-child{
    padding-left: 0;
}
.winnerInfo .infoLabelBlock,
.infoLabelBlock {
    display: block;
}
.winnerInfo .infoLabelBlock {
    font-size: 16px;
    line-height: 24px;
}

/*********** footer ****/
.footerWrap {
    font-size: 13px;
    color: #bbb;
    font-family: Arial, Helvetica, sans-serif;   
    line-height: 32px;
    background: #f9f9f9;   
    border-top: 1px solid #eeeeee;
    position: relative;
}
.footerWrap .copyright {   
    text-align: center;
    font-family: Arial, sans-serif;
    color: #888;
    font-size: 14px;
    line-height: 18px;
    padding: 18px 0 30px 0;
}
.footerMenu ul {
    margin-bottom: 35px;
}
.footerMenu {   
    border-bottom: 1px solid #dddddd;
    padding-top: 42px;
}
.footerMenu ul li {
    padding: 8px 0
}
.footerMenu ul li a {
    font-family: 'Titillium Web',Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    display: inline-block;   
    text-decoration: underline;
}
.footerMenu ul li a:hover {
    color: #ec1c24;
}

.footerMenu ul li.menuHead a {
    font-size: 18px;
    padding-top: 0;
    text-transform: uppercase;
}
.footerMenu  .row {
    margin-left: -20px;
}
.footerMenu  .span2{
    width: 140px;
    float: left;
    margin-left: 20px;
}
/*** end of footer **/

/** upcoming event **/
.upcomingEvents {
    background: #f4f6fa
}
.upcomingEvents h4{
    font-size: 24px;  
    display: block;
    line-height: 28px;
    color: #fff;
    font-family: 'Titillium Web',Arial,sans-serif;
    font-weight: 600;
    background: #404041;
    padding: 12px 20px;
    text-transform: uppercase;
}
.upcomingEvents ul {
    padding: 0 12px 0 19px;
}
.upcomingEvents ul li {
    padding: 12px 0;
    border-bottom: 1px solid #e6e6e6;
}

.upcomingEvents .eventImg {
    width: 75px;
    text-align: center;
}
.upcomingEvents .eventImg img {
    max-width: 100%;
}
.upcomingEvents .eventDetl {
    margin-left: 95px;
}
.upcomingEvents .eventDetl .eventTitle{
    font-family: 'Titillium Web',Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}
.upcomingEvents .eventDetl .eventTime{
    font-size: 14px;
    line-height: 18px;
    color: #676767;
}
.upcomingEvents .viewMore {
    padding: 20px 30px;
    font-size: 15px;
}
.upcomingEvents .viewMore  a {
    text-decoration: underline;
}
.mobileShow {
    display: none !important;
}

.payoffDetail {
    display: inline-block;
}
/** end of upcoming event **/

/** page data **/
.pageData .topHead{
    padding: 10px 20px;
}
.pageData .topHead h3 {
    font-family: 'Titillium Web',Arial,sans-serif;
    font-weight: 600;
    color: #ec1c24;
    font-size: 24px;
}
.dataTable {
    border-collapse: collapse;
    margin: 0;
    list-style-type: none;
    display: table;
    width: 100%;
}
.dataTable .headRow ,
.dataTable .dataRow{
    display: table-row;
}
.dataTable .sCell {
    display: table-cell;
    vertical-align: middle;
}
.dataTable .headRow .sCell {
    vertical-align: top;
    font-size: 13px;
    line-height: 17px;
}

/*********** footer ****/
.footerWrap {
    font-size: 13px;
    color: #bbb;
    font-family: Arial, Helvetica, sans-serif;   
    line-height: 32px;
    background: #f9f9f9;   
    border-top: 1px solid #eeeeee;
}
.footerWrap .copyright {   
    text-align: center;
    font-family: Arial, sans-serif;
    color: #888;
    font-size: 14px;
    line-height: 18px;
    padding: 18px 0 30px 0;
}

/*** end of footer **/
.wagerContent {
    padding: 0 20px;
}
.wagerContent .sectionBlock {
    margin-bottom: 10px;
}
.wagerContent .valueLabel {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}
.wagerList {
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #ccc;
}
.wagerList .listHead {   
    background: #ccc;
    font-weight: 600;
}
.wagerList .dataRow {
    border-bottom: 1px solid #ccc;
}
.wagerList .sCell {
    padding: 10px;
}
